<div class="search">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search starship">
    <button (click)="search()" >Search</button>
</div>


<div class="container">
    <div *ngIf="searchQuery.length == 0" class="container">
        <div class="item" *ngFor="let starship of starships;">
            <a [routerLink]="['/starships/', starship.uid]">
             {{ starship.name }}
            </a>
        </div>
    </div>
    
    <div *ngIf="searchQuery.length > 0" class="container">
        <div class="item" *ngFor="let starship of searchedStarships;">
            <a [routerLink]="['/starships/', starship.uid]">
             {{ starship.properties.name }}
            </a>
        </div>
    </div>
</div>



