<div class="search">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Enter search species">
    <button (click)="search()" >Search</button>
</div>


<div class="container">
    <div  class="container" *ngIf="searchQuery.length == 0">
        <div class="item" *ngFor="let specie of species; let i = index">
            <a [routerLink]="['/species/',specie.uid]">
             {{ specie.name }}
            </a>
            
        </div>
    </div>
    <div  class="container" *ngIf="searchQuery.length > 0">
        <div class="item" *ngFor="let specie of searchedSpecies; let i = index">
            <a [routerLink]="['/species/',specie.uid]">
             {{ specie.properties.name }}
            </a>
            
        </div>
    </div>

</div>
