.container {
    background: url(https://media.sketchfab.com/models/476fe6527305404cb0d7e1ebe9eead63/thumbnails/5389dd2cf5374e2cb033da4c45b3f14d/76e9973a6c734462bd505060c63d95ee.jpeg) ;
      height: 100vh;
      background-position: center;
      background-size:cover; 
      display: flex;
      flex-wrap: wrap;
      background-attachment: fixed;
      
      
    }
    
    .item {
      width: 200px;
      height: 10px;
      margin: 10px;
      padding: 20px;
      background-color: #131010, 0.5;
      border: 1px solid #FFFF00 ;
      border-radius: 9px;
      align-items: center;
      justify-content: center;
    }
    
    a{
      text-decoration: none;
      color:#FFFF00;
    }
    
  
  .search{
    display: flex;
     justify-content: center;
    background-color: black;
  }

  
button {
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(33, 30, 30) ;
  color: rgb(192, 222, 24);
  border-color: #FFFF00;
  border-radius: 9px; 
  cursor: pointer;
}

button:hover {
  background-color: #2d2d28;
  
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px 0 0 5px; 
  border: 1px solid #ccc;
  outline: none;
}