<div class="body">


    <div class="container" >
        <div class="main" *ngIf="film">
            <h2>{{film.title}}</h2>
            <div class="info">
                <span><strong>Realise date</strong>: {{film?.release_date}}</span><br>
                <span><strong>Episode</strong>: {{film?.episode_id}}</span><br>
                <span><strong>Opening crawl</strong>: {{film?.opening_crawl}}</span><br>
                <span><strong>Director</strong>: {{film?.director}}</span><br>
                <span><strong>Producer</strong>: {{film?.producer}}</span><br>
            </div>
            
        </div>

    </div>

    

    <div class="releated" >
        <div class="item">
            <h2>Realated characters</h2>
            <div *ngFor = "let char of characters">
                 <a *ngIf="char" [routerLink]= "['/characters/', char.uid]"> {{char.properties.name}}   </a>
            </div>
        </div>
        <div class="item">
            <h2>Realated planets</h2>
            <div *ngFor="let planet of planets">
                <a *ngIf="planet" [routerLink]= "['/planets/', planet.uid]" >  {{planet.properties.name}} </a>
            </div>
        </div>
        <div class="item">
            <h2>Realated Species</h2>
            <div *ngFor="let specie of species">
                <a *ngIf="specie" [routerLink]= "['/species/', specie.uid]" >  {{specie.properties.name}} </a>
            </div>
        </div>
        <div class="item">
            <h2>Realated Starships</h2>
            <div *ngFor="let starship of starships">
                <a *ngIf = "starship" [routerLink]= "['/starships/', starship.uid]" >  {{starship.properties.name}} </a>
            </div>
        </div>
    </div>


</div>


