<div class="search">
    <input  type="text" [(ngModel)]="searchQuery" placeholder="Enter search planet">
    <button (click)="search()" >Search</button>
</div>


<div class="container">
    <div  class="container" *ngIf="searchQuery.length == 0">
        <div class="item" *ngFor="let planet of planets; let i = index">
            <a [routerLink]="['/planets/', planet.uid]">
                {{ planet.name }}
               </a>
        </div>
    </div>
    <div class="container" *ngIf="searchQuery.length > 0"  >
        <div class="item" *ngFor="let planet of searchedPlanets; let i = index">
            <a [routerLink]="['/planets/', planet.uid]">
                {{ planet.properties.name }}
               </a>
        </div>
    </div>
    
</div>
