

<div class="container">
        
        <div class="body">
            <div class="logo">
                <h1>Galactipedia</h1>
                <span>explore the world of star wars</span>
            </div>
        
            <div class="search-container">
                
                <input [(ngModel)]="searchQuery" type="text" placeholder="Search by any Star Wars item">
                <button (click)="search()" type="submit">Find</button>
            </div>
    
            
    
    
            <div class="searchResults" *ngIf = "searchQuery.length > 0">
                <div class="main">
                    <p>Matched Characters</p>
                    <div class="item" *ngFor="let char of searchCharacters; let i = index">
                        <a [routerLink]="['/characters/', char.uid]">
                         {{ char.properties.name }}
                        </a>
                    </div> 
                </div>
                
                <div  class="main">
                    <p>Matched Planets</p>
                    <div class="item" *ngFor="let planet of searchPlanets; let i = index">
                        <a [routerLink]="['/planets/', planet.uid]">
                         {{ planet.properties.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Matched Starships</p>
                    <div class="item" *ngFor="let starship of searchStarships; let i = index">
                        <a [routerLink]="['/starships/', starship.uid]">
                         {{ starship.properties.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Matched Species</p>
                    <div class="item" *ngFor="let specie of searchSpecies; let i = index">
                        <a [routerLink]="['/species/', specie.uid]">
                         {{ specie.properties.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Matched Films</p>
                    <div class="item" *ngFor="let film of searchFilms; let i = index">
                        <a [routerLink]="['/films/', film.uid]">
                         {{ film.properties.title }}
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

     
        
</div>


