

<div class="container">
        
        <div class="body">
            <div class="logo">
                <h1>Galactipedia</h1>
                <span>explore the world of star wars</span>
            </div>
        
            <div class="search-container">
                
                <input [(ngModel)]="searchQuery" type="text" placeholder="Search by any Star Wars item">
                <button (click)="search()" type="submit">Find</button>
            </div>
    
            
    
    
            <div class="searchResults" *ngIf = "searchQuery.length > 0">
                <div class="main">
                    <p>Mathed Characters</p>
                    <div class="item" *ngFor="let char of searchCharacters; let i = index">
                        <a [routerLink]="['/characters/', char.url.substring(29, char.url.length - 1)]">
                         {{ char.name }}
                        </a>
                    </div> 
                </div>
                
                <div  class="main">
                    <p>Mathed Planets</p>
                    <div class="item" *ngFor="let planet of searchPlanets; let i = index">
                        <a [routerLink]="['/planets/', planet.url.substring(30, planet.url.length - 1)]">
                         {{ planet.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Mathed Starships</p>
                    <div class="item" *ngFor="let starship of searchStarships; let i = index">
                        <a [routerLink]="['/starships/', starship.url.substring(32, starship.url.length - 1)]">
                         {{ starship.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Mathed Species</p>
                    <div class="item" *ngFor="let specie of searchSpecies; let i = index">
                        <a [routerLink]="['/species/', specie.url.substring(30, specie.url.length - 1)]">
                         {{ specie.name }}
                        </a>
                    </div>
                </div>
                
                <div class="main">
                    <p>Mathed Films</p>
                    <div class="item" *ngFor="let film of searchFilms; let i = index">
                        <a [routerLink]="['/films/', film.url.substring(28, film.url.length - 1)]">
                         {{ film.title }}
                        </a>
                    </div>
                </div>
                
            </div>
        </div>

     
        
</div>


