<header class="main">
    <!-- logo and navigation items -->
    <div class="container">
        <img width="90p" src="assets/logo.jpg" alt="">
        <ul class="nav_items_list" >
            <li class="nav_item">
                <a routerLink="home">Home</a>
            </li>
            <li class="nav_item">
              <a routerLink="characters/"> Characters  </a> 
            </li>
            <li class="nav_item">
                <a routerLink="planets">Planets</a>
            </li>
            <li class="nav_item">
                <a routerLink="starships">Starships</a>
            </li>
            <li class="nav_item">
                <a routerLink="species">Species</a>
            </li>
            <li class="nav_item">
                <a href="films">Films</a>
            </li>
        </ul>
    </div>
</header>

